uvicorn==0.24.0.post1
fastapi==0.104.1
pydantic
pydantic_settings
numpy
Pillow
python-multipart
openai
langchain
sqlmodel
torch==2.2.0+cpu
torchvision==0.17.0+cpu
ultralytics
--extra-index-url https://download.pytorch.org/whl/cpu